*{
margin: 0;
padding: 0;
font-family: Century Gothic;
}

header{
background-image: url(../images/3.jpg);
height: 205vh;
background-size: cover;
background-position: center;
}

ul{
float: right;
list-style-type: none;
margin-top: 25px;
}

ul li{
display: inline-block;
}

ul li a{
text-decoration: none;
color: #fff;
padding: 5px 20px;
border: 1px solid transparent;
transition: 0.6s ease;
}

ul li a:hover{
background-color: #fff;
color: #000;
}

ul li.active a{
background-color: #fff;
color: #000;
}
.logo img{
float: left;
width: 150px;
height: auto;
}

.main{
max-width: 1200px;
margin: auto;
}

.title{
position: absolute;
top: 15%;
left: 50%;
transform: translate(-50%,-50%);
}

.title h1{
color: #fff;
font-size: 70px;
}

.button{
position: absolute;
top: 54%;
left: 50%;
transform: translate(-50%,-50%);
}

.btn{
border: 1px solid #fff;
padding: 20px 30 px;
color: #fff;
text-decoration: none;
transition: 0.6s ease;
}

.btn:hover{
background-color: #fff;
color: #000;
}

.ph img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 34%;
left: 10%;
transform: translate(-50%,-50%);
}

.ph2 img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 60%;
left: 10%;
transform: translate(-50%,-50%);
}

.ph3 img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 86%;
left: 10%;
transform: translate(-50%,-50%);
}

.ph4 img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 112%;
left: 10%;
transform: translate(-50%,-50%);
rotate: left;
}

.ph5 img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 138%;
left: 10%;
transform: translate(-50%,-50%);
rotate: left;
}

.ph6 img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 164%;
left: 10%;
transform: translate(-50%,-50%);
rotate: left;
}

.ph7 img{
float: left;
width: 150px;
height: 150px;
position: absolute;
top: 190%;
left: 10%;
transform: translate(-50%,-50%);
rotate: left;
}

.ad{
position: absolute;
top: 34%;
left: 45%;
transform: translate(-50%,-50%);
}

.ad h1{
color: #fff;
font-size: 23px;
}

.n{
position: absolute;
top: 59%;
left: 45%;
transform: translate(-50%,-50%);
}

.n h1{
color: #fff;
font-size: 23px;
}

.g{
position: absolute;
top: 84%;
left: 45%;
transform: translate(-50%,-50%);
}

.g h1{
color: #fff;
font-size: 23px;
}

.an{
position: absolute;
top: 111%;
left: 45%;
transform: translate(-50%,-50%);
}

.an h1{
color: #fff;
font-size: 23px;
}

.i{
position: absolute;
top: 139%;
left: 45%;
transform: translate(-50%,-50%);
}

.i h1{
color: #fff;
font-size: 23px;
}

.r{
position: absolute;
top: 164%;
left: 45%;
transform: translate(-50%,-50%);
}

.r h1{
color: #fff;
font-size: 22px;
}

.m{
position: absolute;
top: 188%;
left: 45%;
transform: translate(-50%,-50%);
}

.m h1{
color: #fff;
font-size: 23px;
}

.a img{
float: right;
width: 150px;
height: 150px;
position: absolute;
top: 34%;
right: 10%;
transform: translate(-50%,-50%);
}


